body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    transition: background 0.4s;
}

/* Hide default checkbox */
.input {
    visibility: hidden;
}

/* Toggle background */
.label {
    position: relative; /* changed from absolute to relative */
    height: 40px;
    width: 80px;
    background-color: lightgray;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* The moving circle */
.circle {
    width: 34px;
    height: 34px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    top: 3px;
    animation: toggleOff 0.4s linear forwards;
}

/* When checkbox is checked */
.input:checked + .label {
    background-color: salmon;
}

.input:checked + .label .circle {
    animation: toggleOn 0.4s linear forwards;
}

/* Animation for ON state */
@keyframes toggleOn {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(40px);
    }
}

/* Animation for OFF state */
@keyframes toggleOff {
    0% {
        transform: translateX(40px);
    }
    100% {
        transform: translateX(0);
    }
}
